---
import Button from "../Button.astro";
import Form from "../Form.astro";
import { Icon } from "astro-icon/components";
const GeneralData = Astro.props.GeneralData;
const { heading, text, buttonText, phoneQuestionText, treatmentsLabel, callButtonText, navItems , hideButton =false} = Astro.props.Content;
---

<section class="mx-auto my-10 max-w-[1320px] max-md:my-10 max-md:rounded-3xl relative">
  <div class="rounded-none">
    <section class="flex flex-col px-20 pt-3 pb-20 w-full bg-purple-900 rounded-3xl max-md:px-5 max-md:max-w-full">
      <nav class="flex flex-wrap gap-10 justify-between items-center w-full text-base max-md:max-w-full">
        <img src="/imgs/hero_logo.png" alt="Company Logo" class="object-contain shrink-0 self-stretch my-auto aspect-[4.67] w-[159px]">

        <ul class="flex flex-wrap gap-10 items-center self-stretch my-auto text-white min-w-60 max-md:max-w-full">
          {navItems.map((item) => (
            <li class="group relative self-stretch my-auto whitespace-nowrap">
              <a href={item.url} class="text-white self-stretch my-auto flex items-center">
                {item.text}
                {item.sublinks && item.sublinks.length > 0 && (
                  <img
                    src="/imgs/dropdown_arrow.svg"
                    alt="Dropdown arrow"
                    class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square ml-1"
                  />
                )}
              </a>
              {item.sublinks && item.sublinks.length > 0 && (
                <div class="absolute left-0 top-full hidden group-hover:block z-10 pt-2">
                  <section class="flex gap-2.5 p-6 mx-auto my-0 bg-white rounded-xl shadow-2xl max-w-[686px] max-md:p-5 max-sm:flex-col max-sm:p-4">
                    <article class="flex flex-col flex-1 gap-5">
                      <h2 class="text-lg font-medium text-neutral-800">
                        By Treatment Offering
                      </h2>
                      <ul class="flex flex-col gap-3">
                        {item.sublinks.map((sublink) => (
                          <li class="text-sm text-blue-900">
                            <a href={sublink.link}>{sublink.text}</a>
                          </li>
                        ))}
                      </ul>
                    </article>

                    <div class="mx-5 my-0 w-px bg-neutral-800 bg-opacity-10 max-sm:mx-0 max-sm:my-5 max-sm:w-full max-sm:h-px"></div>

                    <article class="flex flex-col flex-1 gap-5">
                      <h2 class="text-lg font-medium text-neutral-800">
                        By what your experiencing
                      </h2>
                      <ul class="flex flex-col gap-3">
                        {item.sublinks2 && item.sublinks2.map((sublink) => (
                          <li class="text-sm text-blue-900">
                            <a href={sublink.link}>{sublink.text}</a>
                          </li>
                        ))}
                      </ul>
                    </article>
                  </section>
                </div>
              )}
            </li>
          ))}
        </ul>

        <a href={`tel:${GeneralData.phoneNumber}`} class="flex flex-col justify-center self-stretch px-5 py-2 my-auto text-blue-900 bg-white min-h-10 rounded-[50px]">
          <span class="gap-1 self-stretch">{callButtonText} {GeneralData.phoneNumber}</span>
        </a>
      </nav>

      <section class="flex flex-col items-center self-center mt-20 max-w-full w-[566px] max-md:mt-10">
        <span class="px-9 py-1.5 w-40 max-w-full text-base text-blue-900 whitespace-nowrap bg-white rounded-[50px] max-md:px-5">
          {treatmentsLabel}
        </span>

        <h1 class="mt-3 text-4xl font-medium text-center text-white leading-[59px] max-md:max-w-full">
          {heading}
        </h1>
        <p class="text-center text-white">
          {text}
        </p>

        {hideButton ==false &&<div class="flex flex-wrap gap-3 self-stretch mt-3 w-full max-md:max-w-full">
          <a href="/contact" class="flex flex-col flex-1 shrink justify-center items-center px-5 py-4 text-lg font-semibold leading-none bg-amber-300 basis-0 min-w-60 rounded-[50px] text-neutral-800">
            <span>{buttonText}</span>
          </a>

          <a href={`tel:${GeneralData.phoneNumber}`} class="flex flex-col flex-1 shrink justify-center items-center px-5 py-4 my-auto text-blue-900 bg-white basis-0 min-w-60 rounded-[50px]">
            <div class="flex flex-col items-center">
              <span class="text-xs">{phoneQuestionText}</span>
              <span class="text-xs font-semibold leading-6">{callButtonText} {GeneralData.phoneNumber}</span>
            </div>
          </a>
        </div>}
      </section>
    </section>
  </div>
</section>