---
import Button from "../Button.astro";
import Form from "../Form.astro";
import { Icon } from "astro-icon/components";
const GeneralData = Astro.props.GeneralData;
const { heading, text, buttonText, phoneQuestionText, treatmentsLabel, callButtonText, navItems } = Astro.props.Content;
---

<section class="mx-auto my-10 max-w-[1320px] max-md:my-10 max-md:rounded-3xl relative">
  <div class="rounded-none">
    <section class="flex flex-col px-20 pt-3 pb-20 w-full bg-purple-900 rounded-3xl max-md:px-5 max-md:max-w-full">
      <nav class="flex flex-wrap gap-10 justify-between items-center w-full text-base max-md:max-w-full">
        <img src="/imgs/hero_logo.png" alt="Company Logo" class="object-contain shrink-0 self-stretch my-auto aspect-[4.67] w-[159px]">

        <ul class="flex flex-wrap gap-10 items-center self-stretch my-auto text-white min-w-60 max-md:max-w-full">
          {navItems.map((item) => (
            <li class="flex gap-1 items-center self-stretch my-auto whitespace-nowrap">
              <a href={item.url} class="self-stretch my-auto text-white">{item.text}</a>
              {item.hasDropdown && <img src="/imgs/dropdown_arrow.svg" alt="Dropdown arrow" class="object-contain shrink-0 self-stretch my-auto w-4 aspect-square">}
            </li>
          ))}
        </ul>

        <a href={`tel:${GeneralData.phoneNumber}`} class="flex flex-col justify-center self-stretch px-5 py-2 my-auto text-blue-900 bg-white min-h-10 rounded-[50px]">
          <span class="gap-1 self-stretch">{callButtonText} {GeneralData.phoneNumber}</span>
        </a>
      </nav>

      <section class="flex flex-col items-center self-center mt-20 max-w-full w-[566px] max-md:mt-10">
        <span class="px-9 py-1.5 w-40 max-w-full text-base text-blue-900 whitespace-nowrap bg-white rounded-[50px] max-md:px-5">
          {treatmentsLabel}
        </span>

        <h1 class="mt-3 text-4xl font-medium text-center text-white leading-[59px] max-md:max-w-full">
          {heading}
        </h1>

        <div class="flex flex-wrap gap-3 self-stretch mt-3 w-full max-md:max-w-full">
          <a href="#" class="flex flex-col flex-1 shrink justify-center items-center px-5 py-4 text-lg font-semibold leading-none bg-amber-300 basis-0 min-w-60 rounded-[50px] text-neutral-800">
            <span>{buttonText}</span>
          </a>

          <a href={`tel:${GeneralData.phoneNumber}`} class="flex flex-col flex-1 shrink justify-center items-center px-5 py-4 my-auto text-blue-900 bg-white basis-0 min-w-60 rounded-[50px]">
            <div class="flex flex-col items-center">
              <span class="text-xs">{phoneQuestionText}</span>
              <span class="text-xs font-semibold leading-6">{callButtonText} {GeneralData.phoneNumber}</span>
            </div>
          </a>
        </div>
      </section>
    </section>
  </div>
</section>