---
interface Props {
    Content: {
        heading: string;
        subheading: string;
        description: string;
        featuredImage: string;
        treatments: {
            icon: string;
            title: string;
            description: string;
        }[];
    };
}

const { Content } = Astro.props;

// Map icon names to their SVG components
const getIconSVG = (iconName: string) => {
    switch(iconName) {
        case 'calendar':
            return `<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_153_430)">
                    <path d="M40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40C31.0457 40 40 31.0457 40 20Z" fill="#222222"></path>
                    <path
                    d="M26.4102 13.1098V12.7097C26.4094 12.4027 26.2871 12.1085 26.07 11.8915C25.8529 11.6744 25.5588 11.5521 25.2518 11.5513C24.9446 11.5516 24.6502 11.6738 24.433 11.8909C24.2158 12.1081 24.0937 12.4026 24.0933 12.7097V13.091H22.9078V12.7097C22.9078 12.4028 22.786 12.1084 22.5692 11.8912C22.3523 11.674 22.0581 11.5517 21.7512 11.5513C21.4441 11.5517 21.1496 11.6738 20.9325 11.891C20.7153 12.1082 20.5931 12.4026 20.5928 12.7097V13.091H19.4072V12.7097C19.4072 12.5577 19.3773 12.4072 19.3191 12.2667C19.261 12.1263 19.1757 11.9987 19.0682 11.8912C18.9607 11.7837 18.8331 11.6985 18.6927 11.6403C18.5522 11.5821 18.4017 11.5522 18.2497 11.5522C18.0977 11.5522 17.9472 11.5821 17.8067 11.6403C17.6663 11.6985 17.5387 11.7837 17.4312 11.8912C17.3237 11.9987 17.2385 12.1263 17.1803 12.2667C17.1221 12.4072 17.0922 12.5577 17.0922 12.7097V13.091H15.9067V12.7097C15.9058 12.4027 15.7835 12.1085 15.5665 11.8915C15.3494 11.6744 15.0552 11.5521 14.7482 11.5513C14.4411 11.5517 14.1467 11.6738 13.9295 11.891C13.7124 12.1082 13.5902 12.4026 13.5898 12.7097V13.1098C13.0279 13.1791 12.5106 13.4512 12.1352 13.8751C11.7598 14.2989 11.5522 14.8453 11.5513 15.4115V26.1283C11.552 26.7435 11.7967 27.3333 12.2317 27.7683C12.6667 28.2033 13.2565 28.448 13.8717 28.4487H26.1283C26.7435 28.448 27.3333 28.2033 27.7683 27.7683C28.2033 27.3333 28.448 26.7435 28.4487 26.1283V15.4115C28.4478 14.8453 28.2402 14.2989 27.8648 13.8751C27.4894 13.4512 26.9721 13.1791 26.4102 13.1098ZM24.7259 12.7097C24.7261 12.5703 24.7815 12.4366 24.8801 12.338C24.9787 12.2395 25.1123 12.184 25.2518 12.1838C25.391 12.1846 25.5243 12.2403 25.6227 12.3388C25.7211 12.4372 25.7768 12.5705 25.7777 12.7097V14.1049C25.7777 14.2443 25.7223 14.3781 25.6236 14.4767C25.525 14.5754 25.3912 14.6308 25.2518 14.6308C25.1123 14.6308 24.9785 14.5754 24.8799 14.4767C24.7813 14.3781 24.7259 14.2443 24.7259 14.1049V12.7097ZM21.2253 12.7097C21.2254 12.5703 21.2809 12.4366 21.3795 12.338C21.4781 12.2394 21.6118 12.1839 21.7512 12.1838C21.8904 12.1842 22.0237 12.2398 22.1219 12.3384C22.2202 12.437 22.2753 12.5705 22.2753 12.7097V14.1049C22.2753 14.2441 22.22 14.3776 22.1215 14.4761C22.0231 14.5745 21.8895 14.6299 21.7503 14.6299C21.611 14.6299 21.4775 14.5745 21.3791 14.4761C21.2806 14.3776 21.2253 14.2441 21.2253 14.1049V12.7097ZM17.7247 12.7097C17.7247 12.5705 17.78 12.4369 17.8785 12.3385C17.9769 12.24 18.1105 12.1847 18.2497 12.1847C18.3889 12.1847 18.5225 12.24 18.6209 12.3385C18.7194 12.4369 18.7747 12.5705 18.7747 12.7097V14.1049C18.7747 14.2441 18.7194 14.3776 18.6209 14.4761C18.5225 14.5745 18.3889 14.6299 18.2497 14.6299C18.1105 14.6299 17.9769 14.5745 17.8785 14.4761C17.78 14.3776 17.7247 14.2441 17.7247 14.1049V12.7097ZM14.2223 12.7097C14.2225 12.5703 14.2779 12.4366 14.3765 12.338C14.4751 12.2394 14.6088 12.1839 14.7482 12.1838C14.8874 12.1846 15.0207 12.2403 15.1192 12.3388C15.2176 12.4372 15.2733 12.5705 15.2741 12.7097V14.1049C15.2741 14.2443 15.2187 14.3781 15.1201 14.4767C15.0215 14.5754 14.8877 14.6308 14.7482 14.6308C14.6088 14.6308 14.475 14.5754 14.3764 14.4767C14.2777 14.3781 14.2223 14.2443 14.2223 14.1049V12.7097ZM13.5898 13.749V14.1049C13.5898 14.4121 13.7119 14.7067 13.9291 14.924C14.1463 15.1412 14.441 15.2633 14.7482 15.2633C15.0555 15.2633 15.3501 15.1412 15.5674 14.924C15.7846 14.7067 15.9067 14.4121 15.9067 14.1049V13.7235H17.0922V14.1049C17.0922 14.4119 17.2141 14.7063 17.4312 14.9234C17.6483 15.1404 17.9427 15.2624 18.2497 15.2624C18.5567 15.2624 18.8511 15.1404 19.0682 14.9234C19.2853 14.7063 19.4072 14.4119 19.4072 14.1049V13.7235H20.5928V14.1049C20.5928 14.4119 20.7147 14.7063 20.9318 14.9234C21.1489 15.1404 21.4433 15.2624 21.7503 15.2624C22.0573 15.2624 22.3517 15.1404 22.5688 14.9234C22.7859 14.7063 22.9078 14.4119 22.9078 14.1049V13.7235H24.0933V14.1049C24.0933 14.4121 24.2154 14.7067 24.4326 14.924C24.6499 15.1412 24.9445 15.2633 25.2518 15.2633C25.559 15.2633 25.8536 15.1412 26.0709 14.924C26.2881 14.7067 26.4102 14.4121 26.4102 14.1049V13.749C26.803 13.8159 27.1595 14.0194 27.4168 14.3236C27.6741 14.6278 27.8155 15.0132 27.8162 15.4117V16.3635H12.1838V15.4115C12.1845 15.0131 12.326 14.6277 12.5833 14.3235C12.8405 14.0193 13.197 13.8159 13.5898 13.749ZM26.1283 27.8162H13.8717C13.4242 27.8157 12.9952 27.6377 12.6788 27.3212C12.3623 27.0048 12.1843 26.5758 12.1838 26.1283V16.9964H27.8162V26.1283C27.8157 26.5758 27.6377 27.0048 27.3212 27.3212C27.0048 27.6377 26.5758 27.8157 26.1283 27.8162Z"
                    fill="white"></path>
                </g>
                <defs>
                    <clipPath id="clip0_153_430">
                        <rect width="40" height="40" fill="white"></rect>
                    </clipPath>
                </defs>
            </svg>`;
        case 'personalized':
            return `<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_153_445)">
                    <path d="M40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40C31.0457 40 40 31.0457 40 20Z" fill="#222222"></path>
                    <g clip-path="url(#clip1_153_445)">
                        <path
                            d="M29.5909 17.166C29.5297 16.9583 29.3118 16.8394 29.1039 16.9006C28.8962 16.9618 28.7773 17.1798 28.8385 17.3875C29.7936 20.6303 28.9035 24.1282 26.5155 26.5162C22.9805 30.0512 17.2644 30.1082 13.659 26.6873L14.7823 26.4627C14.9947 26.4202 15.1324 26.2136 15.0899 26.0012C15.0475 25.7889 14.841 25.651 14.6285 25.6936L12.6678 26.0857C12.4845 26.1224 12.3525 26.2833 12.3525 26.4703V28.431C12.3525 28.6475 12.5281 28.8231 12.7447 28.8231C12.9613 28.8231 13.1368 28.6475 13.1368 28.431V27.2727C14.9999 29.0332 17.4253 29.9995 19.9993 29.9995C22.6703 29.9995 25.1814 28.9594 27.0701 27.0707C29.6613 24.4796 30.6272 20.6843 29.5909 17.166Z"
                        fill="white"></path>
                        <path
                            d="M13.4832 13.4839C17.0182 9.94884 22.7343 9.8919 26.3398 13.3127L25.2165 13.5374C25.0041 13.5798 24.8664 13.7864 24.9088 13.9988C24.9461 14.1852 25.1098 14.3141 25.2929 14.3141C25.3184 14.3141 25.3443 14.3116 25.3703 14.3064L27.331 13.9143C27.5143 13.8776 27.6462 13.7167 27.6462 13.5298V11.5691C27.6462 11.3525 27.4706 11.1769 27.2541 11.1769C27.0375 11.1769 26.8619 11.3525 26.8619 11.5691V12.7274C24.9988 10.9668 22.5735 10.0005 19.9994 10.0005C17.3284 10.0005 14.8173 11.0406 12.9286 12.9293C11.6572 14.2007 10.7517 15.7889 10.3102 17.5221C9.88147 19.2046 9.89747 20.9787 10.3563 22.6527C10.404 22.8268 10.562 22.9413 10.7343 22.9413C10.7686 22.9413 10.8035 22.9367 10.8381 22.9272C11.047 22.87 11.1699 22.6542 11.1126 22.4454C10.238 19.2545 11.1464 15.8207 13.4832 13.4839Z"
                        fill="white"></path>
                        <path
                            d="M19.9993 14.1179C16.7559 14.1179 14.1172 16.7566 14.1172 20.0001C14.1172 21.1115 14.4271 22.1519 14.965 23.0395C14.9776 23.0656 14.9927 23.0905 15.011 23.1134C16.0517 24.7749 17.8985 25.8822 19.9993 25.8822C21.9441 25.8822 23.6711 24.9332 24.7426 23.4744C24.7632 23.4523 24.7806 23.4278 24.7954 23.402C25.479 22.4409 25.8815 21.2666 25.8815 20.0001C25.8815 16.7566 23.2427 14.1179 19.9993 14.1179ZM19.9993 25.0979C18.2457 25.0979 16.6961 24.2078 15.7784 22.8557C16.6296 21.4516 18.1508 20.5883 19.8033 20.5883C21.5763 20.5883 23.1976 21.5903 23.9973 23.1593C23.0628 24.3395 21.618 25.0979 19.9993 25.0979ZM19.9993 19.804C19.1344 19.804 18.4308 19.1003 18.4308 18.2354C18.4308 17.3705 19.1344 16.6668 19.9993 16.6668C20.8642 16.6668 21.5679 17.3705 21.5679 18.2354C21.5679 19.1003 20.8642 19.804 19.9993 19.804ZM24.4832 22.4239C23.7906 21.2964 22.7163 20.4643 21.4748 20.0663C22.0094 19.6346 22.3522 18.9744 22.3522 18.2355C22.3522 16.9381 21.2967 15.8826 19.9994 15.8826C18.702 15.8826 17.6465 16.9381 17.6465 18.2355C17.6465 18.927 17.9465 19.5497 18.4231 19.9806C17.191 20.3001 16.1004 21.0408 15.348 22.0858C15.0613 21.4488 14.9015 20.7428 14.9015 20.0001C14.9015 17.1891 17.1884 14.9022 19.9994 14.9022C22.8104 14.9022 25.0972 17.1891 25.0972 20.0001C25.0972 20.8768 24.8746 21.7026 24.4832 22.4239Z"
                        fill="white"></path>
                    </g>
                </g>
                <defs>
                    <clipPath id="clip0_153_445">
                        <rect width="40" height="40" fill="white"></rect>
                    </clipPath>
                    <clipPath id="clip1_153_445">
                        <rect width="20" height="20" fill="white" transform="translate(10 10)"></rect>
                    </clipPath>
                </defs>
            </svg>`;
        case 'treatment':
            return `<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_153_457)">
                    <path d="M40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40C31.0457 40 40 31.0457 40 20Z" fill="#222222"></path>
                    <g clip-path="url(#clip1_153_457)">
                        <path
                            d="M24.3461 19.2038C22.9675 19.2038 21.7143 19.7494 20.7905 20.6366V15.1365C20.7905 12.3042 18.4864 10 15.6536 10C12.8208 10 10.5171 12.3042 10.5171 15.1365V24.8635C10.5171 27.6959 12.8212 30 15.6536 30C17.4815 30 19.0893 29.0407 19.9998 27.5988C20.9104 29.0407 22.5187 30 24.3461 30C27.1784 30 29.4831 27.6958 29.4831 24.8635V24.3404C29.4831 21.508 27.1785 19.2039 24.3461 19.2039L24.3461 19.2038ZM19.6936 27.0396C19.4807 27.4338 19.2118 27.7929 18.8979 28.1074C18.0666 28.9386 16.9191 29.4531 15.6536 29.4531C13.1229 29.4531 11.064 27.3942 11.064 24.8635V15.1365C11.064 12.6058 13.1229 10.5469 15.6536 10.5469C18.1842 10.5469 20.2436 12.6058 20.2436 15.1365V24.8635C20.2436 25.3799 20.158 25.8766 19.9998 26.3401C19.9169 26.583 19.8144 26.8168 19.6936 27.0396H19.6936ZM28.9362 24.8635C28.9362 27.3942 26.8772 29.4531 24.3461 29.4531C22.6025 29.4531 21.0826 28.4756 20.3061 27.0396C20.6169 26.3788 20.7905 25.641 20.7905 24.8635V21.4415C21.6327 20.4102 22.9138 19.7507 24.3461 19.7507C26.8772 19.7507 28.9362 21.8097 28.9362 24.3403V24.8635V24.8635ZM18.7923 18.6639H12.2214C11.6177 18.6639 11.1266 19.155 11.1266 19.7587C11.1266 20.3624 11.6177 20.8535 12.2214 20.8535H18.7923C19.396 20.8535 19.8871 20.3624 19.8871 19.7587C19.8871 19.155 19.396 18.6639 18.7923 18.6639H18.7923ZM18.7923 20.3066H12.2214C11.9192 20.3066 11.6734 20.0608 11.6734 19.7587C11.6734 19.4566 11.9192 19.2108 12.2214 19.2108H18.7923C19.0944 19.2108 19.3402 19.4566 19.3402 19.7587C19.3402 20.0608 19.0944 20.3066 18.7923 20.3066H18.7923ZM26.8577 21.9522C26.5972 21.8982 26.3314 21.9492 26.1093 22.0952L21.2819 25.269C21.0597 25.4151 20.9077 25.6389 20.8538 25.8994C20.8 26.1598 20.8508 26.4256 20.9969 26.6478C21.1879 26.9384 21.5061 27.0961 21.8303 27.0961C22.0179 27.0961 22.2076 27.0433 22.3757 26.9328L27.2031 23.759C27.4253 23.6129 27.5773 23.3891 27.6312 23.1287C27.685 22.8682 27.6342 22.6024 27.4881 22.3802C27.342 22.158 27.1182 22.006 26.8577 21.9522ZM27.0957 23.018C27.0714 23.1353 27.0029 23.2362 26.9027 23.3021L22.0753 26.4758C21.8687 26.6118 21.5898 26.5542 21.4539 26.3474C21.318 26.1406 21.3756 25.8618 21.5823 25.7259L26.4097 22.5522C26.4838 22.5035 26.5687 22.4783 26.6554 22.4783C26.6858 22.4783 26.7166 22.4814 26.7471 22.4877C26.8645 22.512 26.9654 22.5805 27.0312 22.6806C27.097 22.7808 27.12 22.9006 27.0957 23.0179L27.0957 23.018Z"
                        fill="white"></path>
                    </g>
                </g>
                <defs>
                    <clipPath id="clip0_153_457">
                        <rect width="40" height="40" fill="white"></rect>
                    </clipPath>
                    <clipPath id="clip1_153_457">
                        <rect width="20" height="20" fill="white" transform="translate(10 10)"></rect>
                    </clipPath>
                </defs>
            </svg>`;
        case 'monitoring':
            return `<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_153_469)">
                    <path d="M40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40C31.0457 40 40 31.0457 40 20Z" fill="#222222"></path>
                    <g clip-path="url(#clip1_153_469)">
                        <path
                            d="M28.4375 10.625H11.5625C11.3141 10.6257 11.0761 10.7248 10.9004 10.9004C10.7248 11.0761 10.6257 11.3141 10.625 11.5625V23.125C10.6257 23.3734 10.7248 23.6114 10.9004 23.7871C11.0761 23.9627 11.3141 24.0618 11.5625 24.0625H14.8156C14.8276 24.1032 14.8231 24.147 14.8031 24.1844L14.0156 25.4938C13.908 25.6735 13.8637 25.8841 13.8897 26.092C13.9158 26.2999 14.0107 26.493 14.1594 26.6406L15.2344 27.7156C15.382 27.8643 15.5751 27.9592 15.783 27.9853C15.9909 28.0113 16.2015 27.967 16.3813 27.8594L17.6906 27.0719C17.7156 27.0589 17.7433 27.0518 17.7715 27.0513C17.7997 27.0508 17.8276 27.0567 17.8531 27.0687C17.8785 27.0785 17.9014 27.0941 17.9198 27.1141C17.9382 27.1342 17.9518 27.1582 17.9594 27.1844L18.3281 28.6656C18.379 28.8683 18.4961 29.0482 18.6608 29.1767C18.8256 29.3052 19.0285 29.375 19.2375 29.375H20.7625C20.9715 29.375 21.1744 29.3052 21.3392 29.1767C21.5039 29.0482 21.621 28.8683 21.6719 28.6656L22.0406 27.1844C22.0489 27.1572 22.0634 27.1323 22.0829 27.1117C22.1024 27.0911 22.1265 27.0753 22.1531 27.0656C22.178 27.0549 22.2049 27.0499 22.232 27.051C22.259 27.052 22.2855 27.0592 22.3094 27.0719L23.6188 27.8594C23.7987 27.9663 24.0091 28.0102 24.2168 27.9842C24.4245 27.9582 24.6176 27.8637 24.7656 27.7156L25.8406 26.6406C25.9893 26.493 26.0842 26.2999 26.1103 26.092C26.1363 25.8841 26.092 25.6735 25.9844 25.4938L25.1969 24.1844C25.1784 24.1465 25.174 24.1033 25.1844 24.0625H28.4375C28.6859 24.0618 28.9239 23.9627 29.0996 23.7871C29.2752 23.6114 29.3743 23.3734 29.375 23.125V11.5625C29.3743 11.3141 29.2752 11.0761 29.0996 10.9004C28.9239 10.7248 28.6859 10.6257 28.4375 10.625ZM26.875 22.6375C26.8749 22.7073 26.8515 22.7751 26.8085 22.83C26.7654 22.8849 26.7053 22.9239 26.6375 22.9406L25.1562 23.3094C25.0344 23.3418 24.9219 23.4022 24.8275 23.4857C24.7331 23.5693 24.6595 23.6737 24.6125 23.7906C24.5647 23.9056 24.5443 24.0301 24.553 24.1543C24.5617 24.2786 24.5992 24.399 24.6625 24.5062L25.4469 25.8156C25.4834 25.8751 25.4987 25.9452 25.4902 26.0145C25.4817 26.0837 25.4499 26.1481 25.4 26.1969L24.3219 27.275C24.2731 27.3249 24.2087 27.3567 24.1395 27.3652C24.0702 27.3737 24.0001 27.3584 23.9406 27.3219L22.6312 26.5375C22.5229 26.4749 22.4016 26.4381 22.2768 26.4298C22.152 26.4216 22.0269 26.4421 21.9113 26.4898C21.7956 26.5375 21.6925 26.6111 21.6098 26.705C21.5271 26.7989 21.4671 26.9105 21.4344 27.0312L21.0656 28.5125C21.0489 28.5803 21.0099 28.6404 20.955 28.6835C20.9001 28.7265 20.8323 28.7499 20.7625 28.75H19.2375C19.1677 28.7499 19.0999 28.7265 19.045 28.6835C18.9901 28.6404 18.9511 28.5803 18.9344 28.5125L18.5656 27.0312C18.5332 26.9094 18.4728 26.7969 18.3893 26.7025C18.3057 26.6081 18.2013 26.5345 18.0844 26.4875C17.9852 26.4467 17.8791 26.4255 17.7719 26.425C17.6297 26.4246 17.4902 26.4635 17.3687 26.5375L16.0594 27.3219C15.9999 27.3584 15.9298 27.3737 15.8605 27.3652C15.7913 27.3567 15.7269 27.3249 15.6781 27.275L14.6 26.1969C14.5501 26.1481 14.5183 26.0837 14.5098 26.0145C14.5013 25.9452 14.5166 25.8751 14.5531 25.8156L15.3375 24.5062C15.4001 24.3979 15.4369 24.2766 15.4452 24.1518C15.4534 24.027 15.4329 23.9019 15.3852 23.7863C15.3375 23.6706 15.2639 23.5675 15.17 23.4848C15.0761 23.4021 14.9645 23.3421 14.8438 23.3094L13.3625 22.9406C13.2947 22.9239 13.2346 22.8849 13.1915 22.83C13.1485 22.7751 13.1251 22.7073 13.125 22.6375V21.1125C13.1251 21.0427 13.1485 20.9749 13.1915 20.92C13.2346 20.8651 13.2947 20.8261 13.3625 20.8094L14.8438 20.4406C14.9656 20.4082 15.0781 20.3478 15.1725 20.2643C15.2669 20.1807 15.3405 20.0763 15.3875 19.9594C15.4353 19.8444 15.4557 19.7199 15.447 19.5957C15.4383 19.4714 15.4008 19.351 15.3375 19.2437L14.5531 17.9344C14.5166 17.8749 14.5013 17.8048 14.5098 17.7355C14.5183 17.6663 14.5501 17.6019 14.6 17.5531L15.6781 16.475C15.7269 16.4251 15.7913 16.3933 15.8605 16.3848C15.9298 16.3763 15.9999 16.3916 16.0594 16.4281L17.3687 17.2125C17.4771 17.2751 17.5984 17.3119 17.7232 17.3202C17.848 17.3284 17.9731 17.3079 18.0887 17.2602C18.2044 17.2125 18.3075 17.1389 18.3902 17.045C18.4729 16.9511 18.5329 16.8395 18.5656 16.7188L18.9344 15.2375C18.9511 15.1697 18.9901 15.1096 19.045 15.0665C19.0999 15.0235 19.1677 15.0001 19.2375 15H20.7625C20.8323 15.0001 20.9001 15.0235 20.955 15.0665C21.0099 15.1096 21.0489 15.1697 21.0656 15.2375L21.4344 16.7188C21.4668 16.8406 21.5272 16.9531 21.6107 17.0475C21.6943 17.1419 21.7987 17.2155 21.9156 17.2625C22.0306 17.3103 22.1551 17.3307 22.2793 17.322C22.4036 17.3133 22.524 17.2758 22.6312 17.2125L23.9406 16.4281C24.0003 16.3924 24.0702 16.3776 24.1393 16.3861C24.2084 16.3946 24.2726 16.4259 24.3219 16.475L25.4 17.5531C25.4499 17.6019 25.4817 17.6663 25.4902 17.7355C25.4987 17.8048 25.4834 17.8749 25.4469 17.9344L24.6625 19.2437C24.5999 19.3521 24.5631 19.4734 24.5548 19.5982C24.5466 19.723 24.5671 19.8481 24.6148 19.9637C24.6625 20.0794 24.7361 20.1825 24.83 20.2652C24.9239 20.3479 25.0355 20.4079 25.1562 20.4406L26.6375 20.8094C26.7053 20.8261 26.7654 20.8651 26.8085 20.92C26.8515 20.9749 26.8749 21.0427 26.875 21.1125V22.6375ZM28.75 23.125C28.75 23.2079 28.7171 23.2874 28.6585 23.346C28.5999 23.4046 28.5204 23.4375 28.4375 23.4375H27.0469C27.185 23.3545 27.2992 23.2373 27.3786 23.0971C27.458 22.9569 27.4998 22.7986 27.5 22.6375V21.1125C27.5 20.9035 27.4302 20.7006 27.3017 20.5358C27.1732 20.3711 26.9933 20.254 26.7906 20.2031L25.3094 19.8344C25.2655 19.8225 25.2276 19.7946 25.2031 19.7562C25.2 19.7469 25.1938 19.7313 25.1906 19.7219C25.1799 19.697 25.1749 19.6701 25.176 19.643C25.177 19.616 25.1842 19.5895 25.1969 19.5656L25.9844 18.2563C26.092 18.0765 26.1363 17.8659 26.1103 17.658C26.0842 17.4501 25.9893 17.257 25.8406 17.1094L24.7656 16.0344C24.618 15.8857 24.4249 15.7908 24.217 15.7647C24.0091 15.7387 23.7985 15.783 23.6188 15.8906L22.3094 16.6781C22.2844 16.6911 22.2567 16.6982 22.2285 16.6987C22.2003 16.6992 22.1724 16.6933 22.1469 16.6812C22.1215 16.6715 22.0986 16.6559 22.0802 16.6359C22.0618 16.6158 22.0482 16.5918 22.0406 16.5656L21.6719 15.0844C21.621 14.8817 21.5039 14.7018 21.3392 14.5733C21.1744 14.4448 20.9715 14.375 20.7625 14.375H19.2375C19.0285 14.375 18.8256 14.4448 18.6608 14.5733C18.4961 14.7018 18.379 14.8817 18.3281 15.0844L17.9594 16.5656C17.9511 16.5928 17.9366 16.6177 17.9171 16.6383C17.8976 16.6589 17.8735 16.6747 17.8469 16.6844C17.822 16.6951 17.7951 16.7001 17.768 16.699C17.741 16.698 17.7145 16.6908 17.6906 16.6781L16.3813 15.8906C16.2013 15.7837 15.9909 15.7398 15.7832 15.7658C15.5755 15.7918 15.3824 15.8863 15.2344 16.0344L14.1594 17.1094C14.0107 17.257 13.9158 17.4501 13.8897 17.658C13.8637 17.8659 13.908 18.0765 14.0156 18.2563L14.8031 19.5656C14.8161 19.5906 14.8232 19.6183 14.8237 19.6465C14.8242 19.6747 14.8183 19.7026 14.8063 19.7281C14.7965 19.7535 14.7809 19.7764 14.7609 19.7948C14.7408 19.8132 14.7168 19.8268 14.6906 19.8344L13.2094 20.2031C13.0067 20.254 12.8268 20.3711 12.6983 20.5358C12.5698 20.7006 12.5 20.9035 12.5 21.1125V22.6375C12.5002 22.7986 12.542 22.9569 12.6214 23.0971C12.7008 23.2373 12.815 23.3545 12.9531 23.4375H11.5625C11.4796 23.4375 11.4001 23.4046 11.3415 23.346C11.2829 23.2874 11.25 23.2079 11.25 23.125V13.75H28.75V23.125ZM28.75 13.125H11.25V11.5625C11.25 11.4796 11.2829 11.4001 11.3415 11.3415C11.4001 11.2829 11.4796 11.25 11.5625 11.25H28.4375C28.5204 11.25 28.5999 11.2829 28.6585 11.3415C28.7171 11.4001 28.75 11.4796 28.75 11.5625V13.125Z"
                                            fill="white"></path>
                                        <path
                                            d="M11.875 11.875H12.5V12.5H11.875V11.875Z"
                                            fill="white"></path>
                                        <path
                                            d="M13.125 11.875H13.75V12.5H13.125V11.875Z"
                                            fill="white"></path>
                                        <path
                                            d="M14.375 11.875H15V12.5H14.375V11.875Z"
                                            fill="white"></path>
                                        <path
                                            d="M20 18.125C19.2583 18.125 18.5333 18.3449 17.9166 18.757C17.2999 19.169 16.8193 19.7547 16.5355 20.4399C16.2516 21.1252 16.1774 21.8792 16.3221 22.6066C16.4668 23.334 16.8239 24.0022 17.3484 24.5267C17.8728 25.0511 18.541 25.4083 19.2684 25.5529C19.9958 25.6976 20.7498 25.6234 21.4351 25.3395C22.1203 25.0557 22.706 24.5751 23.118 23.9584C23.5301 23.3417 23.75 22.6167 23.75 21.875C23.7489 20.8808 23.3535 19.9276 22.6505 19.2245C21.9474 18.5215 20.9942 18.1261 20 18.125ZM20 25C19.3819 25 18.7777 24.8167 18.2638 24.4733C17.7499 24.13 17.3494 23.6419 17.1129 23.0709C16.8764 22.4999 16.8145 21.8715 16.935 21.2653C17.0556 20.6592 17.3533 20.1023 17.7903 19.6653C18.2273 19.2283 18.7842 18.9306 19.3903 18.81C19.9965 18.6895 20.6249 18.7514 21.1959 18.9879C21.7669 19.2244 22.255 19.6249 22.5983 20.1388C22.9417 20.6527 23.125 21.2569 23.125 21.875C23.1241 22.7035 22.7946 23.4978 22.2087 24.0837C21.6229 24.6696 20.8285 24.9991 20 25Z"
                                            fill="white"></path>
                                        <path
                                            d="M19.6875 21.5625H20.3125V22.1875H19.6875V21.5625Z"
                                            fill="white"></path>
                                        <path
                                            d="M20.9375 21.5625H21.5625V22.1875H20.9375V21.5625Z"
                                            fill="white"></path>
                                        <path
                                            d="M18.4375 21.5625H19.0625V22.1875H18.4375V21.5625Z"
                                            fill="white"></path>
                                    </g>
                                </g>
                                <defs>
                                    <clipPath id="clip0_153_469">
                                        <rect
                                            width="40"
                                            height="40"
                                            fill="white"></rect>
                                    </clipPath>
                                    <clipPath id="clip1_153_469">
                                        <rect
                                            width="20"
                                            height="20"
                                            fill="white"
                                            transform="translate(10 10)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>`;
        default:
            return `<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" fill="#222222"/>
                <text x="20" y="25" font-size="20" text-anchor="middle" fill="white">?</text>
            </svg>`;
    }
}
---

<section
    class="mx-auto my-20 max-w-[1320px] max-md:my-10 max-md:rounded-3xl relative px-4 sm:px-5 md:px-6 lg:px-0"
>
    <div class="relative px-20 pt-20 pb-16 w-full rounded-[24px] bg-gradient-to-l from-[#F6F2EE] to-[#F3EFEC] max-lg:px-12 max-md:p-10 max-sm:p-5 max-sm:rounded-[24px]">
        <!-- Background Wave SVG -->
        <div class="absolute w-full h-full top-0 left-0 overflow-hidden rounded-[24px]">
            <svg
                viewBox="0 0 1320 261"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="absolute top-[80px] w-full h-auto max-w-none"
                preserveAspectRatio="xMidYMid slice"
            >
                <path
                    d="M-29 159.359C4 128.359 105.5 73.3593 167 103.359C225.389 131.842 318.785 141.851 362.533 96.4732C391.024 66.9222 361.543 17.1347 320.893 22.8408C283.379 28.1068 249.542 59.3098 253.5 149.859C259.9 296.259 1031.5 218.026 1354.5 211.359"
                    stroke="white"
                    stroke-opacity="0.46"
                    stroke-width="44"></path>
            </svg>
        </div>

        <!-- Header Section -->
        <header class="relative mb-16 z-[1] flex flex-wrap justify-between max-lg:mb-12">
            <h1
                class="mb-10 text-5xl font-medium leading-[72px] text-neutral-800 w-[706px] max-lg:w-[60%] max-md:mb-8 max-md:w-full max-md:text-4xl max-md:leading-[50px] max-sm:text-3xl max-sm:leading-10"
            >
                {Content?.heading}
            </h1>
            <p
                class="text-lg leading-9 opacity-75 text-neutral-800 w-[358px] max-lg:w-[35%] max-md:static max-md:mb-10 max-md:w-full max-md:text-base max-md:leading-7 max-sm:text-sm max-sm:leading-6"
            >
                {Content?.description}
            </p>
        </header>

        <!-- Hero Image Section -->
        <figure
            class="relative mb-12 h-[596px] w-full max-w-[1160px] max-lg:h-[450px] max-md:h-[400px] max-sm:h-[300px] max-sm:mb-8"
        >
            <div
                class="box-border flex absolute top-0 left-0 items-center pt-4 pb-64 pl-4 bg-white rounded-3xl h-full w-full max-md:p-4"
            >
                <div
                    class="rounded-3xl shadow-2xl bg-white bg-opacity-0 h-[330px] w-[641px] max-lg:w-[60%] max-md:hidden max-[900px]:hidden"
                >
                </div>
            </div>
            <img
                src={Content?.featuredImage}
                alt="TMS Treatment Process"
                class="absolute rounded-3xl object-cover h-[calc(100%_-_52px)] w-[calc(100%_-_54px)] left-[27px] top-[26px] max-md:top-4 max-md:left-4 max-md:h-[calc(100%_-_32px)] max-md:w-[calc(100%_-_32px)]"
            />
        </figure>

        <!-- Treatment Process Cards -->
        <section class="grid grid-cols-2 gap-6 w-[1160px] max-md:grid-cols-1 max-md:gap-5 max-md:w-full">
            {Content?.treatments.map((treatment) => (
                <article class="flex gap-2.5 items-start p-6 bg-white rounded-3xl shadow-2xl flex-[1_0_0] max-sm:p-5">
                    <div class="flex flex-col gap-4 items-start flex-[1_0_0]">
                        <header class="flex flex-col gap-4 items-start self-stretch">
                            <div class="flex items-center self-stretch h-10 rounded-[100px]">
                                <Fragment set:html={getIconSVG(treatment.icon)} />
                            </div>
                            <h2 class="self-stretch text-base font-bold leading-6 text-neutral-800 max-sm:text-sm max-sm:leading-5">
                                {treatment.title}
                            </h2>
                        </header>
                        <p class="self-stretch text-base leading-6 text-neutral-800 max-lg:text-[15px] max-sm:text-sm max-sm:leading-5">
                            {treatment.description}
                        </p>
                    </div>
                </article>
            ))}
        </section>
    </div>
</section>

<style>
@media (width >= 768px) and (width <= 820px) {
    section .relative {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    header h1 {
        width: 100%;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 42px;
    }
    
    header p {
        width: 100%;
    }
    
    figure {
        height: 380px;
    }
    
    section .grid {
        width: 100%;
        gap: 16px;
    }
}

@media (max-width: 767px) {
    section {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
    }
    
    .absolute.top-\[80px\] {
        top: 0;
        height: 100%;
    }
    
    article {
        padding: 16px;
    }
    
    figure {
        margin-bottom: 20px;
    }
    
    header h1 {
        font-size: 28px;
        line-height: 36px;
    }
    
    header p {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 480px) {
    section .relative {
        padding: 16px;
    }
    
    header {
        margin-bottom: 24px;
    }
    
    header h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
    }
    
    figure {
        height: 240px;
        margin-bottom: 16px;
    }
    
    article {
        padding: 12px;
    }
}
</style>
