---
import AboutTeamCard from "./AboutTeamCard.astro";
import Button from "./Button.astro";

const {team,heading, description,buttonText } = Astro.props.Content;

---

<section class="section">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
        <div class="max-w-xl mx-auto sm:text-center">
            <h3 class=" font-medium ">
                {heading}
            </h3>
            <p class="text-gray-600 mt-3">
                {description}
            </p>
        </div>
        <div class="mt-12">
            <ul class="grid gap-8 sm:grid-cols-2 md:grid-cols-3">
                
                {team.map((team) => (
                    <AboutTeamCard 
                      Name={team.name} 
                      Designation={team.designation} 
                      Image={team.image} 
                    />
                  ))}
                
            </ul>
        </div>
        
        <div class="max-w-xl mx-auto mt-24 sm:text-center">
            
            <Button
          buttonText={buttonText}
          buttonLink="#"
          buttonClass="secondary-button"
        />
        </div>
    </div>
</section>
