---
import Button from "./Button.astro";

const { heading, text, buttonText, image, altText, phoneText, phoneNumber } = Astro.props.Content;
---

<section
  class="mx-auto my-20 max-w-[1320px] px-3 sm:px-4 md:px-6 lg:px-6 max-[900px]:my-10 max-[900px]:rounded-3xl relative"
>
  <div
    class="flex relative justify-between px-4 sm:px-6 md:px-10 lg:px-12 pt-9 pb-14 mb-20 w-full bg-indigo-500 rounded-3xl h-auto md:h-auto lg:h-auto max-w-[1320px] max-[900px]:flex-col max-[900px]:p-8 max-sm:p-5"
  >
    <div class="flex flex-col gap-10 max-w-[600px] lg:max-w-[600px] max-[900px]:max-w-full mr-0 md:mr-8 lg:mr-12">
      <div class="flex flex-col gap-4">
        <h1
          class="text-5xl font-medium text-white leading-[72px] max-[900px]:text-4xl max-[900px]:leading-[56px] max-sm:text-3xl max-sm:leading-10"
        >
          {heading}
        </h1>
        <p class="text-lg leading-9 text-white text-opacity-80">
          {text}
        </p>
      </div>
      <div class="flex gap-3 items-center max-sm:flex-col max-sm:w-full">
        <a href="/contact"
          class="flex-1 px-5 py-4 text-lg font-semibold text-center bg-amber-300 cursor-pointer rounded-[50px] text-neutral-800 max-sm:w-full"
        >
          {buttonText}
        </a>
        <a href={`tel:${phoneNumber}`}
          class="flex flex-col flex-1 shrink justify-center items-center px-5 py-4 my-auto text-white bg-purple-900 basis-0 min-w-0 md:min-w-[180px] lg:min-w-60 rounded-[50px] max-[900px]:w-full"
          aria-label="Call for questions"
        >
          <div class="flex flex-col items-center">
            <span class="text-xs"> {phoneText} </span>
            <span class="text-xs font-semibold leading-6">
              Call {phoneNumber}
            </span>
          </div>
        </a>
      </div>
    </div>
    <img
      src={image}
      class="rounded-3xl h-auto md:h-[350px] lg:h-[450px] opacity-[0.9942] w-full  lg:w-[550px] max-[900px]:mt-8 max-[900px]:w-full object-cover ml-0 "
      alt={altText}
    />
  </div>
</section>